<!-- minified snippet to load TalkJS without delaying your page -->
    <script>
    (function (t, a, l, k, j, s) {
        s = a.createElement('script'); s.async = 1; s.src = "https://cdn.talkjs.com/talk.js"; a.head.appendChild(s)
            ; k = t.Promise; t.Talk = {
                v: 3, ready: {
                    then: function (f) {
                        if (k) return new k(function (r, e) { l.push([f, r, e]) }); l
                            .push([f])
                    }, catch: function () { return k && new k() }, c: l
                }
            };
    })(window, document, []);

    Talk.ready.then(function () {
        var me = new Talk.User({
            id: "@Model.Me.Id",
            name: "@Html.Raw(Model.Me.Name)",
            email: "@Model.Me.Email"
        });
        window.talkSession = new Talk.Session({
            appId: "t8rni4Sj",
            me: me
        });
        var other = new Talk.User({
            id: "@Model.Other.Id",
            name: "@Html.Raw(Model.Other.Name)",
            email: "@Model.Other.Email",
            photoUrl: "@Model.Other.PhotoUrl"
        });

        var conversation = talkSession.getOrCreateConversation(Talk.oneOnOneId(me, other))
        conversation.setParticipant(me);
        conversation.setParticipant(other);
        var inbox = talkSession.createInbox({ selected: conversation });
        inbox.mount(document.getElementById("talkjs-container"));
    });
    </script>
<!-- container element in which TalkJS will display a chat UI -->
<div id="talkjs-container" style="width: 90%; margin: 30px; height: 500px">
    <i>Loading chat...</i>
</div>
