@{
        var checked_ = "checked";
        <div class="col-6 mb-4">
            <div class="card">
                <img onclick="window.open('@Model.Profile_url','_SELF')" style="width:100%"  data-src="@Model.Icon" width="124" height="124" class="lazy card-img-top" alt="...">
                <div class="card-body" style="padding:0.25rem">
                    <h5 class="card-title text-center" style="font-size:14px; color:#0979C0; margin-top:15px;"><a href="@Model.Profile_url">@Model.Names[ViewBag.LangId]</a></h5>
                    <div class="text-center"><small>@Model.Dept_name</small></div>
                    <p class="card-text text-center">
                        <span class="fa fa-star @{ if (@Model.Rate > 0) {@checked_ }; } "></span>
                        <span class="fa fa-star @{ if (@Model.Rate > 1) {@checked_ }; }"></span>
                        <span class="fa fa-star @{ if (@Model.Rate > 2) {@checked_ }; }"></span>
                        <span class="fa fa-star @{ if (@Model.Rate > 3) {@checked_ }; }"></span>
                        <span class="fa fa-star @{ if (@Model.Rate > 4) {@checked_ }; } "></span>
                    </p>
                </div>
            </div>
        </div>

   
}

